/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Nowdart Bleed';
  src: url('assets/fonts/NowdartBleed-KVeze.otf') format('truetype-variations');
  font-weight: 300 900;
  font-stretch: 60% 100%;
  font-style: normal;
  font-display: swap;
  size-adjust: 140%;
  unicode-range: U+0041-005A, /* A-Z */ U+0061-007A, /* a-z */ U+0080-00FF, /* Latin-1 Supplement */ U+0100-017F, /* Latin Extended-A */ U+0300-036F;
}

@font-face {
  font-family: 'Dark Midaz';
  src: url('assets/fonts/DarkMidaz-MA30B.otf') format('truetype-variations');
  font-weight: 300 900;
  font-stretch: 60% 100%;
  font-style: normal;
  font-display: swap;
  size-adjust: 140%;
  unicode-range: U+0041-005A, /* A-Z */ U+0061-007A, /* a-z */ U+0080-00FF, /* Latin-1 Supplement */ U+0100-017F, /* Latin Extended-A */ U+0300-036F;
}

@font-face {
  font-family: 'Bronzion Deco';
  src: url('assets/fonts/BronzionDecoPersonalUseRegular-w1MAz.otf') format('truetype-variations');
  font-weight: 300 900;
  font-stretch: 60% 100%;
  font-style: normal;
  font-display: swap;
  size-adjust: 140%;
  unicode-range: U+0041-005A, /* A-Z */ U+0061-007A, /* a-z */ U+0080-00FF, /* Latin-1 Supplement */ U+0100-017F, /* Latin Extended-A */ U+0300-036F;
}

@font-face {
  font-family: 'Medieval Alphabet';
  src: url('assets/fonts/Medievalalphabet-4EY6.ttf') format('truetype-variations');
  font-weight: 300 900;
  font-stretch: 60% 100%;
  font-style: normal;
  font-display: swap;
  size-adjust: 200%;
  unicode-range: U+0041-005A, /* A-Z */ U+0061-007A, /* a-z */ U+0080-00FF, /* Latin-1 Supplement */ U+0100-017F, /* Latin Extended-A */ U+0300-036F;
}

@font-face {
  font-family: 'Heavy Rain';
  src: url('assets/fonts/HeavyRain-X3y9P.ttf') format('truetype-variations');
  font-weight: 300 900;
  font-stretch: 60% 100%;
  font-style: normal;
  font-display: swap;
  size-adjust: 220%;
  unicode-range: U+0041-005A, /* A-Z */ U+0061-007A, /* a-z */ U+0080-00FF, /* Latin-1 Supplement */ U+0100-017F, /* Latin Extended-A */ U+0300-036F;
}

@font-face {
  font-family: 'Grave Shade';
  src: url('assets/fonts/GraveShade-drGZK.otf') format('truetype-variations');
  font-weight: 300 900;
  font-stretch: 60% 100%;
  font-style: normal;
  font-display: swap;
  size-adjust: 130%;
  unicode-range: U+0030-0039;
}

* {
  font-family: 'Dark Midaz', 'Grave Shade', 'sans-serif';
}
